.collection-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  width: 22%;
  position: relative;

  .image{
    height: 95%;
    width: 100%;
    background-size: cover;
    margin-bottom: 10px;
    background-position: center;
  }
  .custom-button{
    width:80%;
    opacity: 0.7;
    position: absolute;
    top:255px;
    display: none;
  }

  &:hover{
    .image{
      opacity: 0.8;
    }
    .custom-button{
      opacity: 0.85;
      display: flex;
    }
  }


  .collection-footer{
    height: 5%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
  }
  .name {
    width: 90%;
    margin-bottom: 15px;
  }

  .price {
    width: 10%;
  }
}