.checkout-page{
  display: flex;
  flex-direction: column;
  display: flex;
  width: 55%;
  min-height: 90vh;
  align-items: center;
  margin: 50px auto;

  .checkout-header{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid darkgrey;

    .header-block{
      text-transform: capitalize;
      width:23%;

      &:last-child{
        width:8%
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }
}